.wrapper {
  padding: 20px 30px;
  background: black;
  position: relative;
  padding-top: 100px;

  &:after {
    content: "";
    pointer-events: none;
    background: url('../../../../../public/assets/points.svg');
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    background-size: cover;
    position: absolute;
    z-index: 5;
  }
}

.back {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  gap: 30px;

  .top {
    h3 {
      color: white;
      font-family: "Orbitron", sans-serif;
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      margin: 0;
    }
  }

  .bottom {
    display: flex;
    height: 350px;
    padding: 20px;
    gap: 30px;

    .panel {
      position: relative;
      display: flex;
      justify-content: flex-end;
      height: 350px;
      width: 700px;

      .back {
        height: 350px;
        object-fit: contain;
        position: relative;
        z-index: 9;
      }

      .man {
        position: absolute;
        left: 120px;

        width: auto;
        height: 59%;
        bottom: 19%;
        z-index: 10;
      }

      .text {
        position: absolute;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
        z-index: 20;
        font-family: "Orbitron", sans-serif;
        padding: 30px 30px 30px 30px;
        bottom: 10%;

        h3 {
          margin: 0;
          font-size: 24px;
        }

        h4 {
          margin: 0;
          font-size: 12px;
        }

        p {
          line-height: 1.3;
          font-size: 12px;
        }
      }
    }
  }

}
