.chooseLanguageButton {
  background: rgba(2, 0, 40, 0.79);
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.54);
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  display: flex;
  gap: 20px;
  min-width: 200px;
  padding: 2px 14px;
  align-items: center;

  .fi {
    font-size: 20px;
  }

  &:hover {
    background: #363c3c;

  }
}
