<!--<video autoplay loop muted playsinline>-->
<!--  <source src="assets/images/back7.mp4" type="video/mp4"/>-->
<!--</video>-->
<div class="content" id="contentManager">
  <!--  <img src="assets/circle.gif"/>-->
  <ng-lottie [options]="{path:'assets/lottie/pink.json'}" class="addGif"/>
  <app-main-banner/>
  <app-horizontal-blocks/>
  <app-ytpart/>
  <!--  <app-grid-panel-customer/>-->
  <app-row-informations/>
  <!--  <app-our-partners/>-->
  <!--  <app-horizontal-person/>-->
  <!--  <app-whe-are-we/>-->
  <app-panel-text-with-image/>
  <!--  <app-ai-documentation/>-->
  <app-footer/>
</div>

