<div class="accessibility-container" [ngClass]="{ open: open }">
  <button class="cross" aria-label="Close accessibility panel" (click)="open=false">X</button>
  <div class="accessibility-block">
    <button (click)="increaseFontSize()">Increase Font Size</button>
    <button (click)="decreaseFontSize()">Decrease Font Size</button>
    <button (click)="toggleUnderline()">Underline Links</button>
    <button (click)="toggleGrayscale()">Grayscale</button>
    <button (click)="toggleInvertColors()">Invert Colors</button>
    <button (click)="toggleLowSaturation()">Low Saturation</button>
    <button (click)="toggleHighSaturation()">High Saturation</button>
    <button (click)="increaseLineHeight()">Increase Line Height</button>
    <button (click)="decreaseLineHeight()">Decrease Line Height</button>
    <button (click)="resetOptions()">Reset Options</button>
  </div>
</div>
