.containerForWrapperBanner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-image: url("../../../../../public/assets/Designer3.jpeg");
  background-position: right;

  background-repeat: no-repeat;
  background-size: cover;

  .videoBanner {
    position: absolute;
    top: -5vh;
    width: 100%;
    height: 110vh;
    object-fit: cover;
    z-index: 1400;
  }

  .bannerContent {
    position: absolute;
    z-index: 1600;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .divForLogoAndNav {
      position: fixed;
      top: 0;
      width: 100vw;
      padding: 0 20px;
      z-index: 19000;
    }

    .bannerTitle {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 1340px;
      width: 90vw;
      padding-left: 50px;
      position: relative;
      z-index: 10000;


      &:before {
        content: "";
        width: 6px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: blueviolet;
        border-radius: 41px;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.55));
      }

      h1, h2 {
        color: white;
        text-shadow: 0 0 3px #000000c7;
      }

      h1 {
        letter-spacing: 5px;
        font-family: "Orbitron", sans-serif;
        text-transform: uppercase;
        font-size: 1.9625rem;
      }

      h2 {
        font-size: 1.3625rem;
        font-weight: normal;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
      }

      button {
        margin-top: 30px;
        background: linear-gradient(98.73deg, #592fb6 0, #6e6be8 100%);
        border: 1px solid #6e6be8;
        padding: 12px 32px;
        border-radius: 7px;
        color: white;
        font-size: 0.875rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: "Orbitron", sans-serif;
        font-weight: 900;
        transition: background 300ms ease, transform 300ms ease;
        max-width: 270px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        outline: none;

        &:focus {
          outline: 2px solid #dedede;
        }

        &:hover {
          cursor: pointer;
          background: linear-gradient(98.73deg, #00bfff 0%, #6e6be8 100%);
          transform: translateY(-1px);
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .divForLogoAndNav {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 300ms;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 300ms ease-in-out, background 300ms ease-in-out;
      background: linear-gradient(to bottom, #1987f6, #0073E8, #005bb9);
      opacity: 0;
    }

    &.secondTheme::before {
      opacity: 1;
      background: linear-gradient(to bottom, #00aaff, #0088dd, #0066bb);
    }

    &.secondTheme {
      background: transparent;
    }

    .navWrapper {
      position: relative;
      z-index: 999;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px;
    }

    .blockForLogo {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        padding-right: 20px;
        text-decoration: none !important;
      }

      img {
        width: 30px;
      }

      span {
        font-size: 1.27rem;
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.71);
        font-family: "Saira Semi Condensed", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
    }

    .hamburger {
      display: none;

      @media (max-width: 1070px) {
        display: block;
      }

      .hamburger-inner {
        background-color: white !important;

        &:after, &:before {
          background-color: white !important;
        }
      }
    }

    nav {
      padding: 18px 0;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1070px) {
        position: absolute;
        right: -700px;
        width: 300px;
        max-width: 70vw;
        top: 57.5px;
        padding: 0px 0 18px;
        flex-direction: column;
        transition: 700ms;
        background-color: white;
        color: black;
        z-index: 1000;
        border-bottom-left-radius: 22px;
        border-left: 2px solid #2a2941;
        border-bottom: 2px solid #2a2941;
      }

      &.is-active {
        right: -20px;
      }

      .leftPartOfNav {
        display: flex;
        column-gap: 20px;
        align-items: center;

        @media (max-width: 1070px) {
          flex-direction: column;
        }

        a {
          color: rgba(255, 255, 255, 0.71);
          font-size: 1.1rem;
          letter-spacing: 1px;
          text-decoration: none;
          transition: 450ms ease;
          font-family: "Saira Semi Condensed", sans-serif;
          font-weight: 200;
          font-style: normal;

          @media (max-width: 1070px) {
            color: black;
            width: 100%;
            text-align: center;
            padding: 8px;
            border-top: 1px solid #acacac;
            border-bottom: 1px solid #acacac;
            &:first-of-type {
              border-top: 0;
            }
          }

          &:hover {
            color: #51CFDB;
          }
        }

        .signUpBtn {
          background: linear-gradient(to right, #FFFFFF, #D3D3D3);
          color: #114067;
          border: 1px solid #B0C4DE;
          border-radius: 20px;
          padding: 10px 20px;
          font-size: 16px;
          text-transform: capitalize;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          font-family: "Saira Semi Condensed", sans-serif;
          font-weight: 200;
          font-style: normal;

          &:hover {
            cursor: not-allowed;
            color: #0b2f4c;
            background: linear-gradient(to right, #F0F8FF, #D3D3D3);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }

          @media (max-width: 1070px) {
            border-radius: 0;
          }

          &:hover {
            background-color: #40b3be;
          }
        }
      }
    }
  }
}

#accessibility-icon {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 200ms;
  position: relative;
  top: 1px;

  &:hover {
    scale: 1.1;
  }
}
