<section class="  back"
>
  <div class="container">
    <app-row-information [row]="1" [text]="'YOU OWN YOUR DATA AND EXCHANGE IT FOR VALUE, NOT CORPORATIONS.'" [title]="'PURPOSE'"/>
    <app-row-information [row]="2"
                         [text]="'TO CREATE THE SMARTEST FINANCIAL SYSTEM REWARDING PEOPLE FOR THEIR DIGITAL IDENTITY AND PREFERENCES.'"
                         [title]="'MISSION'"/>
    <app-row-information [row]="3"
                         [text]="'A WORLD WHERE AI CONNECTS AND SERVES PEOPLE BETTER EVERYDAY.'"
                         [title]="'VISION'"/>
  </div>
</section>
