<section class="users">
  <h2 class="sectionTitle"> Who are WE?</h2>
  <div class="user">
    <h4>
      Liam <br/>Harris
    </h4>
    <img class="back" src="assets/userBack.svg"/>
    <img class="man" src="assets/man.png"/>
    <div class="circleLink">in</div>
    <div class="circleLink">
      <mat-icon>facebook</mat-icon>
    </div>
    <div class="personTitle">
      CEO & MENAGER
    </div>
    <div class="text">
      MASTERS IN IEOR AT BERKELEY – FORTUNE 500 AI ALGORITHM LEAD, FOUNDING TEAM &#64;
      BAYES IMPACT (YC’13), CO-FOUNDER/CEO &#64; LUCID (STARTX’17)
    </div>
  </div>
  <div class="user">
    <h4>
      Adam <br/>Smith
    </h4>
    <img class="back" src="assets/userBack.svg"/>
    <img class="man" src="assets/man.png"/>

    <div class="circleLink">in</div>
    <div class="circleLink">
      <mat-icon>facebook</mat-icon>
    </div>
    <div class="personTitle">
      CEO & MENAGER
    </div>
    <div class="text">
      MASTERS IN IEOR AT BERKELEY – FORTUNE 500 AI ALGORITHM LEAD, FOUNDING TEAM &#64;
      BAYES IMPACT (YC’13), CO-FOUNDER/CEO &#64; LUCID (STARTX’17)
    </div>
  </div>

</section>


