<section class="users">
  <h2 class="sectionTitle">Our partners</h2>
  <div class="user">
    <h4>
      NIVIDIA
    </h4>
    <img class="back" src="assets/userBack.svg"/>
    <img class="icon" src="assets/images/nividia.svg"/>

    <div class="circleLink">in</div>
    <div class="circleLink">
      <mat-icon>facebook</mat-icon>
    </div>
    <div class="personTitle">
      Graphic technology
    </div>
    <div class="text">
      NVIDIA IS A GLOBAL LEADER IN GRAPHICS PROCESSING TECHNOLOGIES, REVOLUTIONIZING
      GAMING, ARTIFICIAL INTELLIGENCE.
    </div>
  </div>
  <div class="user">
    <h4>
      OPEN AI
    </h4>
    <img class="back" src="assets/userBack.svg"/>
    <img class="icon" src="assets/images/openai.svg"/>

    <div class="circleLink">in</div>
    <div class="circleLink">
      <mat-icon>facebook</mat-icon>
    </div>
    <div class="personTitle">
      Artificial intelligence
    </div>
    <div class="text">
      OPENAI IS AT THE FOREFRONT OF ARTIFICIAL INTELLIGENCE INNOVATION, CREATING
      POWERFUL MODELS SUCH AS GPT TO SHAPE THE FUTURE.
    </div>
  </div>
</section>
