<section class="users">
  <h2 class="sectionTitle"><h3>{{ 'part2.partners'|tr }}</h3></h2>
  <div class="user">
    <h4>
      NIVIDIA
    </h4>
    <img class="back" src="assets/userBack.svg"/>
    <img class="icon" src="assets/images/nividia.svg"/>

    <div class="circleLink">in</div>
    <div class="circleLink">
      <mat-icon>facebook</mat-icon>
    </div>
    <div class="personTitle">
      Graphic technology
    </div>
    <div [innerHTML]="'part2.nividia'|tr" class="text">

    </div>
  </div>
  <div class="user">
    <h4>
      OPEN AI
    </h4>
    <img class="back" src="assets/userBack.svg"/>
    <img class="icon" src="assets/images/openai.svg"/>

    <div class="circleLink">in</div>
    <div class="circleLink">
      <mat-icon>facebook</mat-icon>
    </div>
    <div class="personTitle">
      Artificial intelligence
    </div>
    <div [innerHTML]="'part2.openAI'|tr" class="text">

    </div>
  </div>
</section>
