.container {
  display: flex;

  height: 100vh;

  .menuPart {
    position: relative;
    background-color: rgb(30, 30, 30);
    width: 300px;
    height: 100vh;
    border-right: 3px solid rgba(220, 220, 220, 0.09);
    flex-shrink: 0;

  }

  .contentPart {
    flex-grow: 100;
    background-color: rgb(33, 33, 33);
    position: relative;
    overflow-y: auto;

    .content {
      height: 100%;
      position: relative;
      z-index: 7;
      width: 100%;
    }

    &:before {
      content: "";
      pointer-events: none;
      background: url('../../../../public/assets/points.svg');
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.07;
      background-repeat: repeat;
      position: absolute;
      z-index: 5;
    }
  }
}

.logout {
  position: absolute;
  width: 80%;
  height: 40px;
  text-decoration: none;
  display: flex;
  background: linear-gradient(135deg, #ff9800, #e65100);;
  border: none;
  align-items: center;
  gap: 15px;
  bottom: 30px;
  left: 10%;
  justify-content: center;
  font-size: 22px;
  color: white;

  &:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #ea8b01, #cf4800);;
    box-shadow: inset 0 0 7px 3px rgba(0, 0, 0, 0.19);
  }
}
