<div class="navContainer">
  <h1>
    Data panel
  </h1>
  @for (link of [{name: 'Dashboard', link: "./dashboard", icon: faSolidGauge}, {name: 'Reports', link: './reports', icon: faNoteSticky}]; track link) {

    <a [routerLinkActive]="'active'" [routerLink]="[link.link]" class="menuLink">
      <div class="left">
        <ng-icon [svg]="link.icon"/>
      </div>
      <div class="center">
        {{ link.name }}
      </div>
      <div class="right">

      </div>
    </a>
  }
  <app-user-cabinet-nav-group
    [elements]="['Devices', 'Software', 'Vulnerabilities', 'Networks']"
    [icons]="[faSolidDesktop, faSolidLock   , faSolidShield  , faSolidNetworkWired]"/>


</div>
