<div class="block">
  <div class="innerTopBlock">
    <div class="left">

      <ng-lottie
        [options]="{
          path:'/assets/lottie/chars4.json'
          }"
        containerClass="moving-box another-class"
        height="100%"
        width="100%"
      />

    </div>
    <div class="right">
      @for (line of lines; track line) {
        <div class="lineBlock">
          <div class="circle" [ngStyle]="{backgroundColor:line.color}">
            <ng-icon [svg]="line.icon"/>
          </div>
          <div class="line">
            <div class="innerLine" [ngStyle]="{backgroundColor:line.color,width:Math.round(line.value)+'%'}">

            </div>
          </div>
          <div class="numberBlock">
            0
          </div>
          <div class="spanBlock">
            {{ Math.round(line.value) }}%
          </div>
        </div>
      }
    </div>
  </div>
  <div class="horizontalBar">
    <div class="topPart">
      @for (text of ["Poor", "Bellow Average", "Average", 'About Average', 'Genius']; track text; ) {
        <div class="section">
          {{ text }}
        </div>
      }

    </div>
    <div class="bar">

      <div class="dark"></div>
      @for (color of ["#fd4644", "#ffa04a", "#ffe260", '#63c0ff', '#00cb55']; track color; ) {
        <div class="section" [ngStyle]="{backgroundColor:color}">
        </div>
      }
    </div>
    <div class="bottomPart">
      @for (text of ["60", "80", "100", '120', '140']; track text; ) {
        <div class="section">
          {{ text }}
        </div>
      }
    </div>
  </div>
</div>
