.backForMainSection2 {
  display: flex;
  justify-content: center;
  background: #181238;
  flex-direction: column;
  align-items: center;
  padding-top:100px;
  min-height: 100vh;
  //background: url('../assets/images/socials-bg.jpg');
  background: url('../../../../../public/assets/images/pexels-background.jpg');
  background-size: cover;
  padding-bottom: 10vw;
  max-width: 100%;

  .wrapper {
    width: 100%;
    max-width: 1200px;
  }

  h2 {
    text-align: center;
    font-size: 2.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    letter-spacing: 1px;
  }

  h3 {
    text-align: center;
    padding-top: 50px;
    letter-spacing: 1px;
    font-size: 1.5625rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgba(255, 255, 255, 0.54);
  }

  .contentWrapperShort {
    padding-top: 20px;
    padding-bottom: 3vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .cardWrapper {
      width: 30%;
      position: relative;
      @media (max-width: 1200px) {
        width: 38%;
      }
      @media (max-width: 700px) {
        width: 100%;
      }

      //&:before {
      //  width: 100%;
      //  min-width: 10px;
      //  height: 400px;
      //  content: "";
      //  top: 0;
      //  left: 0;
      //  position: absolute;
      //  //background: red;
      //
      //
      //  filter: drop-shadow(0 0 100px rgba(86, 255, 235, 0.72));
      //
      //
      //  &:nth-of-type(2) {
      //
      //    box-shadow: (0 0 100px 100px rgba(128, 68, 255, 0.74));
      //  }
      //
      //  &:nth-of-type(3) {
      //
      //    box-shadow: (0 0 100px 100px rgba(240, 10, 254, 0.76));
      //  }
      //
      //}

    }

    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;


      background: rgba(32, 24, 24, 0);

      .father{
        border-radius: 20px;
        border-left: 1.5px inset #56ffeb;
        border-top: 1.5px inset rgba(240, 10, 254, 1);
        border-bottom: 1.5px inset rgba(240, 10, 254, 1);
        border-right: 1.5px inset #56ffeb;
        background: rgba(0, 0, 0, 0.11);
        padding: 30px;
      }
      img {
        width: auto;
        height: 400px;
        @media (max-width: 1200px) {

          height: 300px;
        }
        @media (max-width: 1200px) {

          height: 300px;

        }
      }

      .ownCard {
        background-color: rgba(32, 35, 101, 0.59);
        position: relative;
        width: 14vw;
        aspect-ratio: 1/1.3;
        border-radius: 20px;
        border-left: 1.5px inset #56ffeb;
        border-top: 1.5px inset rgba(240, 10, 254, 1);
        border-bottom: 1.5px inset rgba(240, 10, 254, 1);
        border-right: 1.5px inset #56ffeb;

        &:after, &:before {
          position: absolute;
          content: "";
          display: flex;

          background-size: 90%;
          background-position: center;
          opacity: 0.7;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

        }

        .smallPart1, .smallPart2, .smallPart3 {
          position: absolute;
          width: 7px;
          height: 100px;
          //    background: #761fc8;
        }

        &.color1 {
          &:after {
            background-image: url("../../../../../public/assets/images/triangle.png");
          }

          .smallPart1, .smallPart2, .smallPart3 {

            background: #761fc8;
          }
        }

        &.color2 {
          &:after {
            background-image: url("../../../../../public/assets/images/circle.png");
          }

          .smallPart1, .smallPart2, .smallPart3 {
            background: #1fc88d;
          }

        }

        &.color3 {
          //&:after {
          //  background-image: url("./../assets/images/triangle.png");
          //}

          &:before {
            background-image: url("../../../../../public/assets/images/pinkTriangle.png");
          }


          .smallPart1, .smallPart2, .smallPart3 {

            background: rgba(0, 179, 255, 0.56);
          }

        }

        .smallPart1 {
          left: -18px;
          top: 65%;
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
          // background-image: url("./../assets/images/new.jpg");
        }

        .smallPart2 {
          left: -18px;
          top: 10%;
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
        }

        .smallPart3 {
          right: -18px;
          top: 40%;
          clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
        }
      }

      .description {
        position: relative;
        margin-top: 40px;
        width: 80%;
        min-height: 200px;
        color: white;
        padding: 10px 5px;

        &.card1 {
          $color: #56ffeb;
          background: $color;
          background: linear-gradient(180deg, transparentize($color, 0.9) 0%, rgba(0, 0, 0, 0) 100%);

          &::before {
            background: $color;
          }
        }

        &.card2 {
          $color: #8044ff;
          background: $color;
          background: linear-gradient(180deg, transparentize($color, 0.9) 0%, rgba(0, 0, 0, 0) 100%);

          &::before {
            background: $color;
          }
        }

        &.card3 {
          $color: rgba(240, 10, 254, 1);
          background: $color;
          background: linear-gradient(180deg, transparentize($color, 0.9) 0%, rgba(0, 0, 0, 0) 100%);

          &::before {
            background: $color;
          }
        }


        h3 {
          padding: 20px;
          text-align: center;
          font-size: 1.25rem;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
        }

        p {
          font-family: "Poppins", sans-serif;
          font-weight: 300;
          text-align: center;
          font-size: 1rem;
          color: rgba(255, 255, 255, .54);

        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;

          border-radius: 4px;
          content: "";
          width: 100%;
          height: 5px;
        }
      }
    }
  }
}

.linesContainer {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  color: white;

  //height: 600px;
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 30px;
  justify-items: center;
  justify-content: center;

  .marquee1 {
    margin-top: 25px;
    height: 80px;
    letter-spacing: 3px;
    color: white;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .marquee2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: 35px;
    background-color: black;
    padding: 10px 0;

    .text {
      padding-bottom: 5px;
      color: white;
      background: linear-gradient(to right, #4bd8ff, #d661ff, #0511cc, #d661ff, #4bd8ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
