<footer class="footer">
  <div class="leftPanel">
    <div class="block">
      <img src="/public/assets/images/planet.svg" />
      <span>
            All rights <br />
            reserved &copy;
          </span>
    </div>
  </div>
  <div class="centerPanel">
    <div class="top">
      <a>Contact</a>
    </div>
    <div class="bottom">
      <img src="/public/assets/images/twitter.svg" />
    </div>
  </div>
  <div class="rightPanel">
    <div class="marquee line1">
      aigeobot&#64;gmail.com&nbsp;&nbsp;&nbsp;&nbsp;aigeobot&#64;gmail.com&nbsp;&nbsp;&nbsp;&nbsp;aigeobot&#64;gmail.com
    </div>
  </div>
</footer>

