<footer class="footer">
  <!-- -->
  <div class="topPart">
    <div class="blockForLogoAndLanguage">
      <img alt="Ai image logo" class="logoImg" src="./../../../assets/images/logo4.svg">
      <app-choose-language></app-choose-language>
    </div>
    <div class="containerForBlocksOfLinks">
      <div class="blockForLinks">
        <h1 class="titleOfBlock">{{ 'mainPage.footer.nav.aboutUs.title' | tr }}</h1>
        <div class="links">
          <a [attr.aria-label]="'mainPage.footer.nav.aboutUs.links.aboutProject.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.aboutUs.links.aboutProject.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.aboutUs.links.ourTeam.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.aboutUs.links.ourTeam.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.aboutUs.links.ourMission.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.aboutUs.links.ourMission.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.aboutUs.links.ourPartners.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.aboutUs.links.ourPartners.text' | tr }}
          </a>
        </div>
      </div>
      <div class="blockForLinks">
        <h1 class="titleOfBlock">{{ 'mainPage.footer.nav.solutions.title' | tr }}</h1>
        <div class="links">
          <a [attr.aria-label]="'mainPage.footer.nav.solutions.links.aiForBusiness.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.solutions.links.aiForBusiness.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.solutions.links.aiInHealthcare.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.solutions.links.aiInHealthcare.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.solutions.links.aiInEducation.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.solutions.links.aiInEducation.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.solutions.links.aiEthics.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.solutions.links.aiEthics.text' | tr }}
          </a>
        </div>
      </div>
      <div class="blockForLinks">
        <h1 class="titleOfBlock">{{ 'mainPage.footer.nav.usefulInformation.title' | tr }}</h1>
        <div class="links">
          <a [attr.aria-label]="'mainPage.footer.nav.usefulInformation.links.faq.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.usefulInformation.links.faq.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.usefulInformation.links.blog.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.usefulInformation.links.blog.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.usefulInformation.links.resources.ariaLabel' | tr"
             class="styleOfLink" href="#">
            {{ 'mainPage.footer.nav.usefulInformation.links.resources.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.usefulInformation.links.news.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.usefulInformation.links.news.text' | tr }}
          </a>
        </div>
      </div>
      <div class="blockForLinks">
        <h1 class="titleOfBlock">{{ 'mainPage.footer.nav.contactUs.title' | tr }}</h1>
        <div class="links">
          <a [attr.aria-label]="'mainPage.footer.nav.contactUs.links.contactInfo.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.contactUs.links.contactInfo.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.contactUs.links.techSupport.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.contactUs.links.techSupport.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.contactUs.links.feedback.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.contactUs.links.feedback.text' | tr }}
          </a>
          <a [attr.aria-label]="'mainPage.footer.nav.contactUs.links.joinTeam.ariaLabel' | tr" class="styleOfLink"
             href="#">
            {{ 'mainPage.footer.nav.contactUs.links.joinTeam.text' | tr }}
          </a>
        </div>
      </div>
    </div>
    <div class="blockForSocialMedias">
      <div class="blockForIcon" tabindex="0">
        <ng-icon [attr.aria-label]="'mainPage.footer.nav.socialMedia.instagram.ariaLabel' | tr" class="iconStyle"
                 name="faBrandInstagram"></ng-icon>
      </div>
      <div class="blockForIcon" tabindex="0">
        <ng-icon [attr.aria-label]="'mainPage.footer.nav.socialMedia.twitter.ariaLabel' | tr" class="iconStyle"
                 name="faBrandTwitter"></ng-icon>
      </div>
      <div class="blockForIcon" tabindex="0">
        <ng-icon [attr.aria-label]="'mainPage.footer.nav.socialMedia.facebook.ariaLabel' | tr" class="iconStyle"
                 name="faBrandFacebook"></ng-icon>
      </div>
    </div>
  </div>

  <div class="bottomPart">
    <span class="spanInBottomPart">© 2024 AI Vision</span>
  </div>
</footer>

