footer {
  background: linear-gradient(to bottom, #00163B, rgb(0, 4, 44), #00041f);
  height: 400px;
  box-shadow: 0px 1px 20px 1px rgba(2, 0, 42, 0.52);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 0 20px;

  .topPart {
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: space-around;

    .blockForLogoAndLanguage {
      padding-top: 25px;
      display: flex;
      justify-content: start;
      flex-direction: column;

      .logoImg {
        width: 110px;
        margin-bottom: 25px;
      }
    }

    .containerForBlocksOfLinks {
      display: flex;
      column-gap: 15px;

      .blockForLinks {
        display: flex;
        flex-direction: column;
        width: 165px;

        .titleOfBlock {
          color: #8f8f8f;
          font-size: 13px;
          font-family: "Saira Semi Condensed", sans-serif;
        }

        .links {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          font-size: 17px;

          .styleOfLink {
            color: white;
            transition: 250ms ease;
            text-decoration: none;
            font-family: "Saira Semi Condensed", sans-serif;

            &:hover {
              cursor: not-allowed;
              color: #0052ab;
            }
          }
        }
      }
    }

    .blockForSocialMedias {
      display: flex;
      column-gap: 10px;
      padding-top: 25px;

      .blockForIcon {
        background-color: rgba(5, 23, 152, 0.32);
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        transition: 250ms ease;


        .iconStyle {
          font-size: 20px;
          color: #b7b7b7;
        }

        &:hover {
          cursor: not-allowed;
          background-color: rgba(5, 19, 117, 0.32);
        }
      }
    }
  }

  .bottomPart {
    height: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px 10px 0 10px;
    position: relative;

    &:before {
      content: "";
      display: flex;
      width: 85%;
      height: 1px;
      background-color: rgba(79, 79, 79, 0.18);
      position: absolute;
      top: 10px;
    }


    .spanInBottomPart {
      color: #cccccc;
      font-family: "Saira Semi Condensed", sans-serif;
      max-width: 600px;
      letter-spacing: 1px;
      font-size: 13px;
      position: relative;
      top: -4px;
    }
  }
}
