.menu {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  .menu-header {
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    height: 50px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgba(255, 106, 0, 0.17);
    }

    text-align: center;
  }

  .menu-content {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    display: flex;
    flex-direction: column;

    a {

      text-decoration: none;
      color: #333;

      &:hover {
        background-color: rgba(255, 106, 0, 0.17);
      }

      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 17px;
        color: white;
      }


      .lottie {

      }
    }

    &.open {
      max-height: 500px;
    }
  }


}

.left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.center {
  width: 60%;
  padding-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.right {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    transition: 700ms;

    &.open {
      transform: rotate(180deg);
    }
  }

  img {
    height: 30px;
    width: 30px;
  }
}
