<section class="backgroundWrapper backForMainSection2 back"
>
  <div class="tillPanel" data-tilt data-tilt-glare="false">


    <div class="panel1">
      <img src="assets/panel1.svg"/>
      <div class="centerPanel">

        @for (slide of [1, 2, 3, 4, 2]; track slide) {

          <div class="element">
            <div class="left">
              <div class="top">
                Lorem impsum

              </div>
              <div class="bottom">
                $12 1212 21
              </div>
            </div>
            <img src="./assets/images/icon.png"/>
          </div>

        }


      </div>
    </div>
  </div>

</section>
<!--  <div class="container">-->
<!--    <div class="top"><h3>Consumer</h3></div>-->
<!--    <div class="content">-->
<!--      <div class="div1">-->
<!--        <h4>Profile</h4>-->
<!--        <p class="text1">-->
<!--          Discover & be<br/>-->
<!--          Doscoverd on-<br/>-->
<!--          Chain-->

<!--        </p>-->
<!--        <p class="text2"> Your data,your status, and <br/>your revards-->

<!--        </p>-->
<!--      </div>-->
<!--      <div class="div2"></div>-->
<!--      <div class="div3"><h4>Message</h4></div>-->
<!--      <div class="div4"></div>-->
<!--      <div class="div5"><h4>VALUE</h4>-->
<!--        <p class="text1">-->
<!--          UNlock the true value of<br/> your profile-->

<!--        </p></div>-->
<!--      <div class="div6"><h4>INSET</h4>-->
<!--        <p class="text1">-->
<!--          bet on popular profiles with<br/>-->
<!--          holding their spots-->

<!--        </p>-->
<!--        <ul class="bigList">-->
<!--          <li>CLAIM</li>-->
<!--          <li>INVEST</li>-->
<!--          <li>EARN</li>-->
<!--        </ul>-->

<!--      </div>-->
<!--      <div class="div7"><h4>SECURITY</h4></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
