
:host {

  height: 100%;

}


.conversation {
  position: relative;
  flex: 1;

  overflow: auto;

  margin-bottom: 16px;

  max-height: calc(100% - 50px);

  display: flex;

  flex-direction: column;

  &.isDisplayLogo {
    height: 80vh;
    justify-content: center;
    align-items: center;
  }

  .logo {
    transition: 300ms;
    position: absolute;
    opacity: 1;

    &.isDisplayLogoHide {
      opacity: 0;
    }

    width: 70%;
    height: auto;
    opacity: 0.5;
  }
}


.user-message, .bot-message {

  margin: 8px 0;

  padding: 8px 12px;

  border-radius: 4px;

  max-width: 75%;


  animation: bubble-animation 0.3s ease-out forwards;

}


.user-message {

  align-self: flex-end;

  background-color: #e1ffc7;

}


.bot-message {

  align-self: flex-start;

  background-color: #f1f0f0;

}


.loading-indicator {

  width: 30px;

  text-align: center;

  color: gray;

  margin-top: 10px;

  font-size: 24px;

  display: flex;

  justify-content: center;

}


.dot {

  animation: blink 1.4s infinite both;

}


.dot:nth-child(2) {

  animation-delay: 0.2s;

}


.dot:nth-child(3) {

  animation-delay: 0.4s;

}


@keyframes blink {

  0%, 20% {

    color: transparent;

  }

  20%, 40% {

    color: gray;

  }

  40%, 100% {

    color: transparent;

  }

}


@keyframes bubble-animation {

  from {

    transform: scale(0.5);

    opacity: 0;

  }

  to {

    transform: scale(1);

    opacity: 1;

  }

}


.details-button {

  background: none;

  border: none;

  cursor: pointer;

  margin-top: 10px;

  color: dodgerblue;

  justify-content: center;


  .icon-expand:before {

    content: '+';

    // Add styling for the expand icon

  }


  .icon-collapse:before {

    content: '-';

    // Add styling for the collapse icon

  }

}


.details-section {

  background-color: rgba(183, 183, 183, 0.26);

  padding: 10px;

  margin-top: 10px;

  border-radius: 5px;


  h4 {

    margin-top: 0;

  }


  pre {

    background-color: #eaeaea;

    padding: 10px;

    border-radius: 5px;

    overflow-x: auto;

  }

}


.message-footer {

  display: flex;

  flex-direction: column;

  width: 100%;

  justify-content: center;


  & > button {
    margin: auto;
  }
}

.animated-background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 4s ease-in-out;

  .content {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    animation: fadeText 2s ease-in-out infinite;
  }
}

@keyframes fadeText {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  10%, 90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}
