:host {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  //max-width: 1000px;
  padding: 16px;
  background-color: #fff;
  box-sizing: border-box;
  justify-content: center;
  //width: 800px;
  flex-grow: 10;
}

.input-container {
  display: flex;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.exptBtn {
  border-radius: 8px;
  height:40px;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.row {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  box-shadow: #495057;
  padding: 15px;
  position: relative;

  &:hover {
    background-color: #d0b886;
    cursor: pointer;
  }
}

.title {
  margin-bottom: 13px;
}

.date {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 6px;
  font-size: small;
  color: darkgrey;
}

.searchChat {
  padding: 0 5px;
  display: flex;
  box-sizing: border-box;

  input {
    padding: 9px 8px;
    width: 100%;
    font-size: 17px;
  }

  border-bottom: 1px solid rgba(90, 90, 90, 0.75);
  padding-bottom: 20px;
}

.new-chat {
  justify-content: center;
  display: flex;

  button {
    &:hover {
      background-color: #d0b886 !important;
      cursor: pointer !important;
    }

    background: transparent;

    &:nth-of-type(1) {
      width: 80%;
      font-weight: bold;
      text-align: center;
    }

    &:nth-of-type(2) {
      width: 20%;
    }
  }
}

.selected {
  background-color: #eee3cc;
}

.history {
  flex-grow: 100;
  max-width: 500px;
  flex-shrink: 0;
  overflow: auto;
  background-color: #212224;
}

.thirdPanel {
  flex-shrink: 0;
  max-width: 500px;
  flex-grow: 100;
  background-color: #0f3561;

  .top {
    h4 {
      text-align: center;
      font-weight: 200;
      font-size: 25px;
      border-bottom: 1px solid #5a5a5a;
    }

  }

  .bottom {
    flex-grow: 1000;
    justify-content: center;
    align-content: center;
  }
}

.thirdPanel {
  width: 20vw;
  flex-grow: 0;
  flex-shrink: 0;

  .historyData {
    flex-grow: 1000;
    flex-direction: column;;;
    display: flex;
    align-items: center;

    h4 {
      text-align: center;
      font-size: 25px;
      width: 100%;
      font-weight: 200;
      border-bottom: 1px solid #5a5a5a;
    }

    ul {
      margin-left: 0px;
      padding-left: 20px;
      width: 100%;
      box-sizing: border-box;

      li {
        &:hover {

          cursor: pointer;
          font-weight: bold;
        }
      }
    }

    .noDot {
      list-style-type: none;
    }
  }

  .chooseAiVersion {
    h4 {
      font-weight: 200;
      text-align: center;
      font-size: 25px;
      width: 100%;
      border-bottom: 1px solid #5a5a5a;
    }

  }

  .dataSource {
    flex-grow: 1000;
    display: flex;
    flex-direction: column;
  }
}

.thirdPanel, .history {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 7px;
  padding: 10px;

  button, input {
    color: white;

    &:hover {
      background-color: rgba(237, 237, 237, 0.11);
      cursor: pointer;
    }
  }


  .noData {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin: 0 auto;
    margin-top: 50px;
    color: #7c7c7c;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .topBlock {
    display: flex;
    width: 100%;
    column-gap: 10px;

    button {
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #5a5a5a;
      padding: 17px;

      &:hover {
        background-color: rgba(237, 237, 237, 0.11);
        cursor: pointer;
      }

      &:first-of-type {
        flex-grow: 100;
      }
    }
  }

  .search {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    padding: 17px;
    height: min-content;
    flex: 0;
    box-sizing: border-box;
  }
}

.history {
  .bottom {
    border-top: 1px solid #5a5a5a;
    padding-top: 10px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: self-start;

    button {
      display: flex;
      column-gap: 15px;
      width: 100%;
      justify-content: flex-start;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #5a5a5a;

      &.noFrame {
        border: none;
      }

      padding: 17px;

      &:hover {
        background-color: rgba(237, 237, 237, 0.11);
        cursor: pointer;
      }
    }
  }
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
  --mat-paginator-container-background-color: rgba(64, 54, 54, 0);

  button, input {
    color: #000000;

    &::placeholder {
      color: black;
    }
  }

  &.chat-container {
    border: 1px solid #131313;
  }

  .searchChat input {
    color: black !important;
    background-color: white;

    &:hover {
      background: white !important;
    }
  }
}

.sendButton {
  margin-left: 2px;
  background-color: #0f3561;
  border-radius: 10px;
}

.exptBtn {
  border-radius: 10px;

  background-color: #005cbb;
  margin-left: 5px;
  box-shadow: none;

}

::ng-deep {
  .dark-theme {
    --mdc-icon-button-icon-color: white !important;
    --mat-paginator-container-background-color: rgba(64, 54, 54, 0);
    --mat-checkbox-disabled-label-color: white !important;
    --mat-checkbox-label-text-color: white !important;

    button, input, label {
      color: white;

      &::placeholder {
        color: black;
      }


    }


    .mat-mdc-paginator-range-label {
      color: white !important;
    }
  }

}

.dark-theme {
  background-color: #212224;
  color: #ffffff;


  button, input, label {
    color: white !important;

    &::placeholder {
      color: black;
    }
  }

  &.chat-container {
    border: 1px solid #ccc;
  }

  .searchChat input {
    color: white !important;
    background-color: #212224;

    &:hover {
      background-color: #212224 !important;
    }

    &::placeholder {
      color: white !important;
      opacity: 0.3;
    }

    &.sendButton {
      color: black !important;
    }

    &.exptBtn {
      color: black !important;

    }
  }
}


.right-bar {
  position: absolute;
  right: 20px;
  top: 0;
  max-width: 500px;
  overflow: hidden;
}

.datasource-selection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.input-container input {
  color: black !important;
}
