<div class="block">
  <div class="innerTopBlock">
    <img src="/assets/brain.gif">
    <!--    <ng-lottie-->
    <!--      [options]="{-->
    <!--      path:'/assets/lottie/barChart.json'-->
    <!--      }"-->
    <!--      containerClass="moving-box another-class"-->
    <!--      height="100%"-->
    <!--      width="100%"-->
    <!--    />-->
  </div>
  <!--  <ng-lottie-->
  <!--    [options]="{-->

  <!-- loop:false,-->
  <!--      path:'/assets/lottie/horizontalBar.json'-->
  <!--      }"-->
  <!--    containerClass="moving-box another-class"-->
  <!--    height="100%"-->

  <!--    style='margin-top: -50px;margin-bottom: -50px'-->
  <!--    width="100%"-->
  <!--  />-->
</div>
