.blockForSocial {

  display: flex;
  justify-content: center;
  background: #181238;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-height: 100vh;
  background: linear-gradient(90deg, #000000, #002233, #000A14);
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    width: 100%;
    max-width: 1200px;
  }

  h3 {
    text-align: center;
    font-size: 2.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 0;
    letter-spacing: 1px;
  }

  h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.54);
  }


  .contentWrapperShort {
    padding-top: 3vh;
    padding-bottom: 20vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .mySocialCard {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 25%;
      position: relative;
      top: 20px;
      height: 350px;
      //transform-style: preserve-3d;
      background-color: rgba(32, 35, 101, 0.29);
      box-shadow: 0 0 5px 1px white;

      border-radius: 20px;
      border-left: 1.5px inset #56ffeb;
      border-top: 1.5px inset rgba(240, 10, 254, 1);
      border-bottom: 1.5px inset rgba(240, 10, 254, 1);
      border-right: 1.5px inset #56ffeb;

      &.color1 {
        & > .inside {
          & > .inside {
            background-color: rgba(31, 155, 186, 0.56);
          }
        }
      }

      &.color2 {
        & > .inside {
          & > .inside {
            background-color: rgba(88, 31, 186, 0.56);
          }
        }
      }

      &.color3 {
        & > .inside {
          & > .inside {
            background-color: rgba(31, 186, 168, 0.56);
          }
        }
      }

      &.color4 {
        & > .inside {
          & > .inside {
            background-color: rgba(142, 186, 31, 0.56);
          }
        }
      }

      .inside {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0 0 2px 1px white;
        justify-content: center;
        align-content: center;
        background-color: rgba(32, 35, 101, 0.1);
      }

      .smallPart1, .smallPart2, .smallPart3 {
        position: absolute;
        width: 7px;
        height: 100px;
        background: #c688ff;


      }

      .smallPart1 {
        left: 0px;
        top: 65%;
        height: 30px;
        //        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
        // background-image: url("./../assets/images/new.jpg");
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);

      }

      .smallPart2 {
        left: 50%;
        top: 0%;
        width: 100px;
        height: 10px;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 10% 100%);
      }

      .smallPart3 {
        right: 0px;
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
        top: 40%;
      }


      & > .inside {
        background-color: rgba(32, 35, 101, 0.1);
        width: 90%;
        height: 90%;

        & > .inside {
          background-color: rgba(31, 155, 186, 0.56);
          width: 97%;
          height: 97%;


        }
      }

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        bottom: 60px;
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .card4 {
        padding: 33% 17%;
        transform: translateZ(-20px) translateX(3px);
        position: absolute;
        box-sizing: border-box;
        width: 165px;
        filter: drop-shadow(0 0 10px white);


        font-size: 1.875rem;
      }
    }

    .socialCard {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 25%;
      position: relative;
      height: 400px;
      transform-style: preserve-3d;
      transform: perspective(1000px);


      &:nth-of-type(1) {
        .card2, .card3, .card4 {
          transform: translateX(13px);
        }

        .card4 {

          transform: translateX(3px);
        }
      }

      &:nth-of-type(2) {
        .card2, .card3, {
          transform: translateX(4px);
        }
      }

      &:nth-of-type(2) {
        .card4 {
          transform: translateX(-4px);
        }
      }

      &:nth-of-type(3) {
        .card2, .card3, .card4 {
          transform: translateX(10px);
        }
      }

      &:nth-of-type(4) {
        .card2, .card3 {
          transform: translateX(4px);
        }
      }

      &:nth-of-type(4) {
        .card4 {
          transform: translateX(-4px);
        }
      }

      .card1 {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: none;

      }

      .card2 {
        position: absolute;
        width: 82%;
        height: 81%;
        left: 15px;
        transform: translateZ(-20px);

      }

      .card3 {
        position: absolute;
        width: 78%;
        left: 20px;
        transform: translateZ(-20px);
      }

      .card4 {
        padding: 33% 17%;
        transform: translateZ(-20px) translateX(-10px);
        position: absolute;
        box-sizing: border-box;
        width: 165px;
        filter: drop-shadow(0 0 10px white);


        font-size: 1.875rem;
      }


    }

  }
}
