<section class="backgroundWrapper blockForSocial">
  <div class="wrapper">


  <h2 data-aos="zoom-in">{{ 'mainPage.cooperation.cooperation'|tr }}</h2>
  <h3 data-aos="zoom-in">{{ 'mainPage.cooperation.subTitle'|tr }}</h3>
  <div
    class="contentWrapperShort"
    data-aos="fade-up"
    data-aos-anchor-placement="left"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
  >
    <div class="mySocialCard color1" data-tilt>
      <img class="card4" src="./assets/images/openai.svg" alt="" role="presentation" />
      <div class="smallPart1"></div>
      <div class="smallPart2"></div>
      <div class="smallPart3"></div>
      <div class="inside">
        <div class="inside">
          <div class="inside"></div>
        </div>
      </div>
      <span>Open AI</span>
    </div>

    <div class="mySocialCard color2" data-tilt>
      <div class="smallPart1"></div>
      <div class="smallPart2"></div>
      <div class="smallPart3"></div>
      <div class="inside">
        <div class="inside">
          <div class="inside"></div>
        </div>
      </div>
      <img class="card4" src="./assets/images/nividia.svg"   alt="" role="presentation"/>
      <span>Nvidia</span>
    </div>
    <div class="mySocialCard color3" data-tilt>
      <div class="smallPart1"></div>
      <div class="smallPart2"></div>
      <div class="smallPart3"></div>
      <div class="inside">
        <div class="inside">
          <div class="inside"></div>
        </div>
      </div>
      <img class="card4" src="./assets/images/DeepMind.svg" alt="" role="presentation" />
      <span>DeepMind</span>
    </div>

    <div class="mySocialCard color4" data-tilt>
      <div class="smallPart1"></div>
      <div class="smallPart2"></div>
      <div class="smallPart3"></div>
      <div class="inside">
        <div class="inside">
          <div class="inside"></div>
        </div>
      </div>
      <img class="card4" src="./assets/images/logo4.svg"  alt="" role="presentation"/>
      <span style="word-break: keep-all; line-break: strict"
      >Ai-Technology</span >

    </div>
  </div>
  </div>
</section>
