/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: initial !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.js-marquee-wrapper{
  width: 9999999999px !important;
}
.fullscreen-modal .mat-dialog-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
}








 body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }

.cdk-global-scrollblock{
  overflow: hidden !important;
  position: initial !important;
}
.cdk-overlay-container{
  z-index: 2000;
}

/* ---- particles.js container ---- */
#particles-js{ position:absolute; width: 100%; height: 100%;  background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
#particles-js{
pointer-events: none;
  z-index: 1500;
  overflow: hidden;
}
